In [ ]:
import pandas as pd
df = pd.read_csv('salaries_by_college_major.csv')
df.head()

In [ ]:
df.shape

.shape returns the number of rows and columns in a Dataframe

In [4]:
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [ ]:
df.isna()

.isna() looks for NaN values in a DataFrame and returns False if there is a number and True for the values where there isn't a number

In [ ]:
df.tail()

.tail() prints the last few rows

In [ ]:
clean_df = df.dropna()
clean_df.tail()

create a new dataframe without the last row(had missing values) and examine the last few rows
.dropna() deletes rows with missing values(you can specify with parameters)

In [9]:
clean_df['Starting Median Salary'].max()

np.float64(74300.0)

.max() gets the highest number in a column or row

In [15]:
clean_df['Starting Median Salary'].idxmax()

np.int64(43)

.idxmax() gets the row number of the column/row with the highest value

In [12]:
clean_df['Undergraduate Major'].loc[43]
clean_df['Undergraduate Major'][43]

'Physician Assistant'

.loc[] gets the value from a cell using the row number and column

In [ ]:
clean_df.loc[43]

get an entire row without specifying any values

In [17]:
max_mid_salary = clean_df['Mid-Career Median Salary'].idxmax()
clean_df['Undergraduate Major'][max_mid_salary]

'Chemical Engineering'

get the major with the highest median salary

In [19]:
min_start_salary = clean_df['Starting Median Salary'].idxmin()
clean_df['Undergraduate Major'][min_start_salary]

'Spanish'

In [20]:
clean_df['Starting Median Salary'].min()

np.float64(34000.0)

In [26]:
relevant_columns = ['Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 90th Percentile Salary']
clean_df[relevant_columns].mean(axis=1).min()

np.float64(59366.666666666664)

the .mean(axis=1) means calculate something for each row and it returns one result per row using the specified columns and the .min() will return the minimum value

In [35]:
clean_df['Mid-Career Median Salary'].min()

np.float64(52000.0)

In [36]:
min_mid_salary = clean_df['Mid-Career Median Salary'].idxmin()
clean_df['Undergraduate Major'][min_mid_salary]

'Education'

preferably use .loc[] to nest parameters like in:
print(clean_df[''])
clean_df['Undergraduate Major'].loc[clean_df['Mid-Career Median Salary'].idxmin()]

In [ ]:
spread_col = clean_df['Mid-Career 90th Percentile Salary'].subtract(clean_df['Mid-Career 10th Percentile Salary'])
clean_df.insert(1, 'Spread', spread_col)
clean_df.head()

subtract the spread between two columns and add the new column to the dataframe.
the first parameter is which position on the columns the new column should be placed starting from 0